public/xsd/n02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://inepskeleton.local/xsd" 
           xmlns="http://inepskeleton.local/xsd" 
           elementFormDefault="qualified">
    <xs:element name="registers"><!-- Nó do elemento raiz do XML -->
        <xs:complexType><!-- Tipo complexo-->
            <xs:sequence><!-- Sequenciado -->
                <xs:element name="register" maxOccurs="unbounded"><!-- maxOccurs="unbounded" eh o maximo de elementos do qual eh indefinido-->
                    <xs:complexType>
                        <xs:sequence><!-- Sequenciado -->
                            <xs:element name="CO_PROJETO"><!--1510401-->
                                <xs:simpleType><!-- Simples -->
                                    <xs:restriction base="xs:string"><!-- Tipo -->
                                        <xs:length value="7"/><!-- Exatamente -->
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="TP_ORIGEM"><!--G-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="P"/>
                                        <xs:enumeration value="G"/>
                                        <xs:enumeration value="I"/>
                                        <xs:enumeration value="C"/>
                                        <xs:enumeration value="R"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_INSCRICAO"><!--141071957131-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="12"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_INSCRITO"><!--JEANE LEITE DE SOUZA-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="150"/>
                                        <xs:pattern value="([a-zA-Z ])*"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_SOCIAL" nillable="true" minOccurs="0"><!---->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="100"/>
                                        <xs:pattern value="([a-zA-Z ])*"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NU_CPF"><!--017.393.612-10-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:length value="14"/>
                                        <xs:pattern value="\d{3}.\d{3}.\d{3}-\d{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NU_RG" nillable="true" minOccurs="0"><!--373931/AP-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="40"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DT_NASCIMENTO" nillable="true" minOccurs="0"><!--1993-03-21-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:date">
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="TP_LINGUA_ESTRANGEIRA"><!--2-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:enumeration value="1"/>
                                        <xs:enumeration value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_LINGUA_ESTRANGEIRA"><!--ESPANHOL-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="INGLÊS"/>
                                        <xs:enumeration value="ESPANHOL"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_ATENDIMENTO_LISTA_PRESENCA"><!--0-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="0"/>
                                        <xs:enumeration value="1"/>
                                        <xs:enumeration value="2"/>
                                        <xs:enumeration value="3"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ID_KIT_PROVA"><!--0-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_COORDENACAO"><!--50001-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="5"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="SG_UF_PROVA"><!--AP-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="AC"/>
                                        <xs:enumeration value="AL"/>
                                        <xs:enumeration value="AP"/>
                                        <xs:enumeration value="AM"/>
                                        <xs:enumeration value="BA"/>
                                        <xs:enumeration value="CE"/>
                                        <xs:enumeration value="DF"/>
                                        <xs:enumeration value="ES"/>
                                        <xs:enumeration value="GO"/>
                                        <xs:enumeration value="MA"/>
                                        <xs:enumeration value="MT"/>
                                        <xs:enumeration value="MS"/>
                                        <xs:enumeration value="MG"/>
                                        <xs:enumeration value="PA"/>
                                        <xs:enumeration value="PB"/>
                                        <xs:enumeration value="PR"/>
                                        <xs:enumeration value="PE"/>
                                        <xs:enumeration value="PI"/>
                                        <xs:enumeration value="RJ"/>
                                        <xs:enumeration value="RN"/>
                                        <xs:enumeration value="RS"/>
                                        <xs:enumeration value="RO"/>
                                        <xs:enumeration value="RR"/>
                                        <xs:enumeration value="SC"/>
                                        <xs:enumeration value="SP"/>
                                        <xs:enumeration value="SE"/>
                                        <xs:enumeration value="TO"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_MUNICIPIO_PROVA"><!--160100200709-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:length value="12"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_MUNICIPIO_PROVA"><!--TARTARUGALZINHO-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_LOCAL"><!--G625-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_LOCAL_PROVA"><!--50001 - EE ALZIRA DE LIMA SANTOS-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="250"/>
                                        <xs:pattern value="([a-zA-Z 0-9,.-])*"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_BLOCO"><!--35370-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_BLOCO"><!--- PRÉDIO: 01-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_ANDAR" nillable="true" minOccurs="0"><!--- ANDAR: TERRE-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_SALA"><!--01-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="8"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_SALA_VIRTUAL"><!--AP501808-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="8"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NU_SEQUENCIAL"><!--001-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="3"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NU_SEQ_ENVELOPE"><!--1-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NU_TOTAL_ENVELOPE"><!--2-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_BARRA_RESPOSTA_DIA1"><!--02101141071957131013-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:length value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_BARRA_RESPOSTA_DIA2"><!--02202141071957131014-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:length value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_BARRA_REDACAO"><!--02902141071957131011-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:length value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_BARRA_LISTAPRESENCA_DIA1"><!--02301500010501808-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:length value="17"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_BARRA_LISTAPRESENCA_DIA2"><!--02402500010501808-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:length value="17"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_BARRA_ATA_DIA1"><!--02501500010501808-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:length value="17"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_BARRA_ATA_DIA2"><!--02602500010501808-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:length value="17"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_BARRA_RASCUNHO"><!--02702141071957131015-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:length value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_BARRA_QSC" nillable="true" minOccurs="0"><!--02801141071957131010-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:length value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_JUSTIFICATIVA" nillable="true" minOccurs="0"><!---->
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="TP_IMPRIMIR"><!--1-->
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:enumeration value="1"/>
                                        <xs:enumeration value="2"/>
                                        <xs:enumeration value="3"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>