public/xsd/n04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://inepskeleton.local/xsd" xmlns="http://inepskeleton.local/xsd" elementFormDefault="qualified">
    <xs:element name="registers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="register" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CO_PROJETO">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:length value="7"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="TP_ORIGEM">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="P"/>
                                        <xs:enumeration value="G"/>
                                        <xs:enumeration value="I"/>
                                        <xs:enumeration value="C"/>
                                        <xs:enumeration value="R"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_COORDENACAO">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="5"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="SG_UF_PROVA">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="AC"/>
                                        <xs:enumeration value="AL"/>
                                        <xs:enumeration value="AP"/>
                                        <xs:enumeration value="AM"/>
                                        <xs:enumeration value="BA"/>
                                        <xs:enumeration value="CE"/>
                                        <xs:enumeration value="DF"/>
                                        <xs:enumeration value="ES"/>
                                        <xs:enumeration value="GO"/>
                                        <xs:enumeration value="MA"/>
                                        <xs:enumeration value="MT"/>
                                        <xs:enumeration value="MS"/>
                                        <xs:enumeration value="MG"/>
                                        <xs:enumeration value="PA"/>
                                        <xs:enumeration value="PB"/>
                                        <xs:enumeration value="PR"/>
                                        <xs:enumeration value="PE"/>
                                        <xs:enumeration value="PI"/>
                                        <xs:enumeration value="RJ"/>
                                        <xs:enumeration value="RN"/>
                                        <xs:enumeration value="RS"/>
                                        <xs:enumeration value="RO"/>
                                        <xs:enumeration value="RR"/>
                                        <xs:enumeration value="SC"/>
                                        <xs:enumeration value="SP"/>
                                        <xs:enumeration value="SE"/>
                                        <xs:enumeration value="TO"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_MUNICIPIO_PROVA">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="50"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_LOCAL">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_LOCAL_PROVA">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="250"/>
                                        <xs:pattern value="([a-zA-Z 0-9,.-])*"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_BLOCO">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_BLOCO">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_ANDAR" nillable="true" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_SALA">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="8"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_SALA_VIRTUAL">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="8"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_SALA_INICIAL">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_SALA_FINAL">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="QTD_SALAS">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="QTD_PARTICIPANTES">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="QTD_PORTAOBJETOS">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="5"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_ENVELOPE_RETORNO">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="5"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="NO_DESCRICAO_INSTRUMENTO" nillable="true" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="50"/>
                                        <xs:pattern value="([a-zA-Z 0-9,.-])*"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_BARRA_1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:length value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_BARRA_2">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:length value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_BARRA_3">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:length value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_BARRA_4">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:length value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_CONTROLE_1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="12"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_CONTROLE_2">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="12"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_CONTROLE_3">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="12"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CO_CONTROLE_4">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="12"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="TP_INSTRUMENTO">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:enumeration value="01"/>
                                        <xs:enumeration value="02"/>
                                        <xs:enumeration value="03"/>
                                        <xs:enumeration value="04"/>
                                        <xs:enumeration value="05"/>
                                        <xs:enumeration value="06"/>
                                        <xs:enumeration value="07"/>
                                        <xs:enumeration value="08"/>
                                        <xs:enumeration value="09"/>
                                        <xs:enumeration value="10"/>
                                        <xs:enumeration value="11"/>
                                        <xs:enumeration value="12"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>